<%
var data = locals;
%>

<!doctype html>
<html>
<head>
	<% include components/loadjs %>

<title>高考报考指南 - 高考志愿填报 - 完美志愿</title>
<meta name="keyword" content="高考报考指南,高考志愿填报,完美志愿" /> 
<meta name="description" content="完美志愿提供专业的高考志愿填报指南、填报技巧，为每位学子指引人生方向，想实现完美高考志愿，快来完美志愿。" />
<link rel="stylesheet" href="/css/index.css"/>


</head>

<body style="background-color:#fff;">
	<%-include components/head -%>



	<div class="help-num">
		<p>完美志愿已成功帮助 <span class="js-userCount">488486</span> 位高考生考上心仪大学</p>
	</div>





	<%- include components/foot %>



	<script>
		require(["page/index"],function(ept){
			ept.init();
		});
	</script>

</body>
</html>