<%
    var data = locals;
%>

<!doctype html>
<html>
<head>
<%- include ../components/loadjs -%>
    <link rel="stylesheet" href="/css/erro.css?v=<%=_resource_version%>"/>
    <title>服务器繁忙</title>
    <style>
    .bs-title,dt{
        margin-bottom: 10px;
    }
    </style>
</head>

<body>
    <%- include ../components/head -%>
    <div class="erro">

        <div class="content">
            <div class="page_error">
                <div class="title_box">访问被禁止了！</div>
                <div class="error_cBox">
                    <img alt="" src="/images/page_error/erro-bg.png">
                </div>
                
                <div style="font-size:18px;margin-top:0px;text-align:center;">
                    <div class="bs-title">您可能访问频率过高，先歇歇吧!   </div>
                </div>
                <div class="btm1"></div>
                <div class="btm2"></div> 
            </div>
        </div>
    </div>
    <%- include ../components/foot -%>
</body>

</html>